[submodule "core"]
	path = core
	url = https://github.com/nicelizhi/easy-admin-core.git
	branch=v1.0.0
[submodule "ui"]
	path = ui
	url = https://github.com/nicelizhi/easy-admin-ui.git
	branch=v1.0.0
